body {
background-color: #2f2f2f;
font-family: Titillium web; 
font-weight: medium;
height: 100%;
}

.title {
color: #FFFFFF;
font-size: 20em;
text-align: center;
margin-bottom: 10px;
margin-left: 200px;
margin-top: -20px;
max-height: 100%;
}

.strikehover:hover {
color: #7ADDD7;
text-decoration:line-through;
}


a:hover {
color: #7ADDD7;
}

.navigation {
display: flex;
align-items: center;
justify-content: space-between;
padding: 35px 55px;
}

.home {
color: #FFFFFF;
padding: 0 5%;
text-decoration: none;
font-size: 0.9em;
}


.designer {
color: #FFFFFF;
font-size: 0.9em;
float: right;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	
	font-size: 0.9em;
}

.social {
	display: flex;
	align-items: center;
    justify-content: space-between;
    text-align: left;
    padding-right: 40px;
    padding: 0 5%;
}



a.email {
	font-size: 0.9em;
	float: right;
}


@media only screen and (max-width: 1080px) {
    .title {
        font-size: 16em;
	font-family: Titillium web; 
        text-align: center;
	margin-bottom: 68px;
	margin-left: 200px;
	margin-top: 20px;
	max-height: 100%;
    }
}




@media only screen and (max-width: 900px) {
    .title {
        font-size: 12em;
	font-family: Titillium web; 
        text-align: center;
	margin-bottom: 125px;
	margin-left: 0px;
	margin-top: 60px;
	max-height: 100%;
    }
}



@media only screen and (max-width: 480px) {
    .title {
        font-size: 8em;
	font-family: Titillium web; 
        text-align: center;
	margin-bottom: 182px;
	margin-left: 0px;
	margin-top: 100px;
	max-height: 100%;
    }
}
